type project
title
    gsl
owners
    Amyris
authors 
    Amyris
projectUrl
    http://github.com/Amyris/gsl
iconUrl
    https://raw.githubusercontent.com/Amyris/gsl/master/docs/files/img/logo.png
licenseUrl
    http://github.com/Amyris/gsl/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    GSL F# genetics compiler amyris
summary
    Genotype Specification Language
description
    GSL (Genotype Specification Language), genetic compiler


