source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget Amyris.Bio

group Build
  source https://nuget.org/api/v2
  nuget FsLexYacc.Runtime
  nuget FSharp.Data
  nuget FsLexYacc
  nuget MathNet.Numerics
  nuget Newtonsoft.Json  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
